:root{
    --primary: hsl(156, 100%, 43%);
    --secondary: hsl(0, 0%, 100%);
    --transperentSecondary: hsl(0, 0%, 100%, 10%);
    --base: hsl(206, 9%, 15%);
    --constant: hsl(0, 0%, 100%);
    --action: hsl(206, 9%, 25%);
}