:root{
    --primary: hsl(156, 100%, 33%);
    --secondary: hsl(206, 9%, 15%);
    --transperentSecondary:hsl(206, 9%, 15%,10%);
    --base: hsl(0, 0%, 100%);
    --constant: hsl(0, 0%, 100%);
    --action:  hsl(0, 0%, 100%);
}
